body{
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}

/*Header*/
#header{
  background-color: green;
  height: 12%;
}
#header nav{
  height: 75px;
}
#header nav a:hover{                
  cursor: pointer;
}

#header nav a{
  color: black;
}

/*Content margen of header*/
#partBody{
  margin-top: 24px;
  margin-bottom: 24px;
}

/*Footer always down*/
main{
  min-height: calc(100vh - 120.97px - 40px);
}

/*Home-Carousel*/
.carousel-item{
  width: 100%;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Login*/
.form1{
  background: rgba(0,0,0,.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0 20px rgba(0,0,0,.568);
  color:white;
}

.form-controler{
  background: rgba(0,0,0,.3);
  border-style: none;
  transition: 0.5s ease-in;
  outline: none;
  box-shadow: none;
  color:white;
}
.form-controler:focus{
  color:white;
  background: none;
  box-shadow: none;
  outline: none;
}

.form-controler::placeholder{
  color: white;
}

.enter{
  background: #222A3F;
  padding: 10px;
  font-size: 16px;
  font-weight: 700!important;
  color: white;
  box-shadow: none;
  transition: 0.5s ease-in;
}

.enter:hover{
  color: white;
}

/*Register*/
.forgot{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  font-zise: 20px;
  font-weight: 700!important;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0,0,0,.5);
}

.forgot:hover{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  cursor: pointer;
}

/*Products Table*/
#tablaProductos{
  margin-top: 24px;
  overflow-x: auto;
}

.table td > div{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Footer*/
#footer{
  background-color: green;
  bottom: 0;
  height: 35px;
  color: white;
  padding: 35px;
}

/*admin*/
.starter-template {
  /*margin-top: 10%;*/
  padding: 3rem 1.5rem;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.red{
  position: fixed;
  top: 200px;
  z-index: 100;
  right: 0;
}

.boton_editar{
  padding: 24px;
}

